.container-cover {
    display: flex;
    flex: 1;
    justify-content: center;
    min-height: 100vh;
    background-color: #cfcfcf;
}

.content {
    background-color: #fdfdfd;
    width: 450px;
}


/* @media screen and (max-width: 450px) {
    width: 100%;
  } */